:root{
	--orange-color:#ffa500;
}

*{
	font-family: 'IBM Plex Sans Arabic', sans-serif;
	font-family: 'Nunito', sans-serif;
	font-family: 'Open Sans', sans-serif;
	margin: 0;padding: 0;
	box-sizing: border-box;
	outline: none;
	border: none;
	transition: all .2s linear;
}

a{
	text-decoration: none;
}



html{
	font-size: 62.5%;
	overflow-x: hidden;
	scroll-padding-top: 6rem;
	scroll-behavior: smooth;
}

*::selection{
	background-color: var(--orange-color);
	color: #fff;
}


.btn{
	display: inline-block;
	margin-top: 1rem;
	color: #fff;
	background-color: var(--orange-color);
	padding: .8rem 3rem;
	border: .2rem solid var(--orange-color);
	cursor: pointer;
	font-size: 1.7rem;
	border-radius: 1rem ;
}

section{
	padding:2rem 10%;
}


/* wrapper */
#wrapper{
	padding: 0;
}

/* header */
header{
	position: fixed;
	top:0;left: 0;right: 0;
	background-color: #333;
	z-index: 100;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding:.7rem 2rem;
}

header .logo{
	font-size: 1.3rem;
	font-weight: bold;
	color: #fff;
	text-transform: uppercase;
	text-align: center;
	position: relative;

}

header .logo span{
	font-size: 1.7rem;
	color: var(--orange-color);
}


header .navbar-container a{
	color: #fff;
	font-size: 2rem;
	margin: 0.8rem 2rem;
}

header .navbar-container a:hover{
	color: var(--orange-color);
}


header .icon i{
	font-size: 2.5rem;
	color: #fff;
	cursor: pointer;
	/* margin-right: 1.8rem; */
	padding: 0 1rem;
}

header .icon i:hover{
	color: var(--orange-color);
}

header .search-bar-container{
	position: absolute;
	top: 100%;left: 0;right: 0;
	padding: 1.5rem 2rem;
	background-color: #333;
	border-top: 0.1rem solid rgba(255,255,255, 0.3);
	display: flex;
	align-items: center;
	z-index: 110;
	clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
}

header .search-bar-container.display{
	clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}	

header .search-bar-container #search-bar{
	width: 100%;
	padding: 1rem;
	text-transform: none;
	color: #333;
	font-size: 1.7rem;

}

header .search-bar-container label{
	color: #fff;
	cursor: pointer;
	font-size: 3rem;
	margin-left: 1.5rem;
}

header .search-bar-container label:hover{
	color: var(--orange-color);
}


/* login form */

.login-form-container{
	position: fixed;
	top: -150%;left: 0;
	min-height: 100vh;
	width: 100%;
	background:rgba(0,0,0,0.7);
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 1000;
}

.login-form-container.display-form{
	top:0;
}

.login-form-container form {
	margin: 2rem;
	padding: 1.5rem 2rem;
	width: 50rem;
	border-radius: 4.6rem;
	background: #fff;
}

.login-form-container form h3{
	font-size: 3rem;
	color: #444;
	text-transform:uppercase;
	padding: 1.5rem 0;

}

.login-form-container form .text-box{
	width: 100%;
	padding: 1rem;
	font-size: 1.8rem;
	color: #333;
	margin: 0.7rem 0;
	border: .1rem solid rgba(0,0,0,.3);
	border-radius: 1rem;
}

.login-form-container form .text-box:focus{
border-color: var(--orange-color);
}

.login-form-container form #remember{
	margin: 2rem 0;
}

.login-form-container form label{
	font-size: 1.5rem;
}

.btn:hover{
	background-color: rgba(255,160,0,0.2);
	color: var(--orange-color);
}

.login-form-container form .btn{
	display: block;
	width: 100%;
}

.login-form-container p{
	padding: .5rem 0;
	font-size: 1.5rem;
	columns: #666;
}

.login-form-container p a{
	color: var(--orange-color);
}

.login-form-container p a:hover{
	color: #333;
	text-decoration: underline;
}

.login-form-container #icon-form-close{
	position: absolute;
	top: 3.6rem;right: 4.6rem;
	font-size: 4.5rem;
	color:#fff ;
	cursor: pointer;
}

.login-form-container #icon-form-close:hover{
	color: var(--orange-color);
}

#menu{
	color:#fff;
	border: .1rem solid #fff;
	border-radius: .5rem;
	font-size: 3rem;
	padding: .5rem 1.2rem;
	cursor: pointer;
	display: none;
	margin-left: 1rem;
}

.slides-video-container{
	/* padding: 2rem 9%; */
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	position: relative;
	z-index: 0;
	height: 100vh;
	width: 100%;

	text-align: center;

}



.content h3{
	font-size: 4.4rem;
	color: #fff;
	text-transform: uppercase;
	text-shadow: 0 .3rem rgba(0,0,0,.2);
}

 .content p{
	font-size: 2.4rem;
	color: #fff;
	text-transform: uppercase;
	text-shadow: 0 .3rem rgba(0,0,0,.2);
}

 .video-container video{
	position: absolute;
	top: 0;left: 0;
	z-index: -10;
	width: 100vw;height: 100vh; 
	object-fit: cover; 
}

 .controls{
	padding: 1rem;
	border-radius: 5rem;
	background-color: rgba(0,0,0,0.7);
	display: inline-block;
	position: relative;
	top: 10rem;
}

.controls .vid-btn{
	height: 2rem;
	width: 2rem;
	display: inline-block;
	background-color: #fff;
	border-radius: 50%;
	cursor: pointer;
	margin:0 0.5rem ;
}

.controls .vid-btn.play-video{
	background-color: var(--orange-color);
}



/* Phần chân trang */
#footer{
	background-color: #333;
	color: #fff;
}

.box-container h3{
	font-size: 2.7rem;
	color: var(--orange-color);
}
.box-container .box{
	padding: 2rem 4rem;
	display: flex;
	flex-direction: column;
}

.box-container .box .item{
	font-size: 1.4rem;
	padding-top: 0.5rem;

}

.box-container .box .item i{
	margin-right: .5rem;
}

.box-container .box a{
	font-size: 1.5rem ;
	color: #fff ;
	padding-top: .5rem;
}

.box-container .box a i{
	display: inline-block;
	margin-right: 1rem;
}

.box-container .box a:hover{
	color: var(--orange-color);
}


#footer .rights{
	text-align: center;
	font-size: 1.7rem;
}


#footer .rights p + p{
	text-align: center;
	font-size: 1.2rem;
}

#footer .rights span{
	color: var(--orange-color);
	font-size: 2rem;
}


/* THƯ VIỆN ẢNH */


.heading{
	text-align: center;
	padding:2.5rem 0
  }
  
  .heading span{
	font-size: 3.5rem;
	background:rgba(255, 165, 0,.2);
	color:var(--orange-color);
	border-radius: .8rem;
	padding:.2rem 1rem;
	font-weight: 700;
  }
  
  .heading span.space{
	background:none;
  }




  
  .gallery .box-container .box{
	overflow: hidden;
	border:1rem solid #fff;
	border-radius: .5rem;
	height: 25rem;
	position: relative;
	box-shadow: 0 1rem 2rem rgba(0,0,0,.1);
	padding: .5rem;
  }
  
  .gallery .box-container .box img{
	height: 100%;
	width:100%;
	object-fit: cover;
  }
  
  .gallery .box-container .box .content{
	position: absolute;
	top:-100%; left:0;
	height: 100%;
	width:100%;
	text-align: center;
	background:rgba(0,0,0,.7);
	padding:2rem;
	padding-top: 5rem;
  }
  
  .gallery .box-container .box:hover .content{
	top:0;
  }
  
  .gallery .box-container .box .content h3{
	font-size: 2.5rem;
	color:var(--orange-color);
  }
  
  .gallery .box-container .box .content p{
	font-size: 1.5rem;
	color:#eee;
	padding:.5rem 0;
  }

  
/* DỊCH VỤ */

.services .box-container{
	display: flex;
	flex-wrap: wrap;
	gap:1.5rem;
  }
  
  .services .box-container .box{
	flex: 1 1 30rem;
	border-radius: .5rem;
	padding:1rem;
	text-align: center;
  }
  
  .services .box-container .box i{
	padding:1rem;
	font-size: 5rem;
	color:var(--orange-color);
  }
  
  .services .box-container .box h3{
	font-size: 2.5rem;
	color:#333;
  }
  
  .services .box-container .box p{
	font-size: 1.5rem;
	color:#666;
	padding:1rem 0;
  }
  
  .services .box-container .box:hover{
	box-shadow: 0 1rem 2rem rgba(0,0,0,.1);
  }


/* ĐẶT VÉ */

  .packages .box-container .box{
	border-radius: .5rem;
	box-shadow: 0 0.8rem 1.2rem rgba(0,0,0,.2);
	overflow: hidden;
	padding: 1.6rem;
  }
  
  .packages .box-container .box img{
	height: 25rem;
	width:100%;
	object-fit: cover;
  }

  .packages .box-container .box img:hover{
	  cursor: pointer;
	  transform: scale(1.05);
  }
  
  .packages .box-container .box .content{
	padding:2rem;
  }
  
  .packages .box-container .box .content h3{
	font-size:2rem;
	color:#333;
  }
  
  .packages .box-container .box .content h3 i{
	color:var(--orange-color);
  }
  
  .packages .box-container .box .content p{
	font-size:1.7rem;
	color:#666;
	padding:1rem 0;
  }

  .packages .box-container .box .content .stars i{
	font-size:1.7rem;
	color:var(--orange-color);
  }
  
  .packages .box-container .box .content .price{
	font-size: 2rem;
	color:#333;
	padding-top: 1rem;
  }
  
  .packages .box-container .box .content .price span{
	color:#666;
	font-size: 1.5rem;
	text-decoration: line-through;
  }




 /* Liên hệ */

.contact-content .image img{
	width: 100%;
 }

 .contact-content .form-container{
	 display: flex;
	 align-items: center;
	 justify-content: center;
 }

.contact-content form{
	padding: 2rem;
	box-shadow: 0 1rem 2rem rgba(0,0,0,.1);
	border-radius: .5rem;
	width: 100%;
 }

 .contact-content form .input-box{
	display: flex;
	flex-wrap: wrap;
  	justify-content: space-between;

 }

 .contact-content form .input-box input,
 .contact-content form textarea{
	width:49%;
	margin:1rem 0;
	padding:1rem;
	font-size: 1.7rem;
	color:#333;
	background:#f7f7f7;
	text-transform: none;
 }

 .contact-content form textarea{
	height: 15rem;
	resize: none;
	width:100%;
 }



@media (max-width:1200px){
	html{
		font-size: 55%;
	}
}

@media (max-width:992px){
	header{
		padding: 2rem;
	}
	section{
		padding: 2rem 6%;
	}
}

	

@media (max-width:768px){
	#menu{
		display: inline-block;
	}

	header .navbar-container{
		position: absolute;
		top: 100%;left: 0;right: 0;
		background-color: #333;
		border-top:.1rem solid rgba(255,255,255, 0.3);
		padding: 1rem 2rem;
		clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);

	}

	header .navbar-container.display-navbar{
		clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
	}

	header .navbar-container a{
		display: block;
		border-radius: .5rem;
		padding: 1.4rem;
		margin: 1.4rem 0;
		background-color: #222;
	}

	section{
		padding: 2rem 4%;
	}
}


@media (max-width:576px){
	html{
		font-size: 50%;
	}
	
}
